In [13]:
import pandas as pd
parquet_file = r"C:\Work_Directory\Learn\DS_Projects\Sales_Forecasting\tmp\sales_data\sales\year=2023\month=11\day=03\sales_2023-11-03.parquet"

In [14]:
df=pd.read_parquet(path=parquet_file)

In [15]:
df

,date,store_id,product_id,category,quantity_sold,unit_price,discount_percent,revenue,cost,profit
0,2023-11-03,store_001,HOME_001,Home,1,79,0.0,79.0,55.30,23.70
1,2023-11-03,store_001,HOME_005,Home,1,39,0.0,39.0,23.40,15.60
2,2023-11-03,store_001,SPRT_001,Sports,1,29,0.0,29.0,13.05,15.95
3,2023-11-03,store_002,HOME_005,Home,1,39,0.0,39.0,23.40,15.60
4,2023-11-03,store_009,HOME_005,Home,1,39,0.0,39.0,23.40,15.60