In [1]:
import pandas as pd
df=pd.read_parquet(r"C:\Work_Directory\Learn\DS_Projects\Sales_Forecasting\tmp\sales_data\sales\year=2023\month=01\day=02\sales_2023-01-02.parquet")

In [2]:
df.head(10)

,date,store_id,product_id,category,quantity_sold,unit_price,discount_percent,revenue,cost,profit
0,2023-01-02,store_001,CLTH_002,Clothing,1,79,0.2,63.2,43.45,19.75
1,2023-01-02,store_001,CLTH_005,Clothing,1,119,0.2,95.2,69.02,26.18
2,2023-01-02,store_001,HOME_005,Home,1,39,0.2,31.2,23.40,7.80
3,2023-01-02,store_001,SPRT_001,Sports,2,29,0.2,46.4,26.10,20.30
4,2023-01-02,store_001,SPRT_002,Sports,1,49,0.2,39.2,26.95,12.25
5,2023-01-02,store_002,CLTH_002,Clothing,1,79,0.2,63.2,43.45,19.75
6,2023-01-02,store_002,HOME_005,Home,1,39,0.2,31.2,23.40,7.80
7,2023-01-02,store_002,SPRT_001,Sports,1,29,0.2,23.2,13.05,10.15
8,2023-01-02,store_002,SPRT_002,Sports,1,49,0.2,39.2,26.95,12.25
9,2023-01-02,store_003,SPRT_002,Sports,1,49,0.2,39.2,26.95,12.25

In [3]:
agg_df=df.groupby(['date','category','store_id','product_id']).agg({'quantity_sold':'sum', 'revenue':'sum','cost':'sum','profit':'sum','discount_percent':'mean','unit_price':'mean'})

In [4]:
agg_df

                                          quantity_sold  revenue   cost  \
date       category store_id  product_id
2023-01-02 Clothing store_001 CLTH_002                1     63.2  43.45
                              CLTH_005                1     95.2  69.02
                    store_002 CLTH_002                1     63.2  43.45
           Home     store_001 HOME_005                1     31.2  23.40
                    store_002 HOME_005                1     31.2  23.40
                    store_009 HOME_005                1     31.2  23.40
                    store_010 HOME_005                1     31.2  23.40
           Sports   store_001 SPRT_001                2     46.4  26.10
                              SPRT_002                1     39.2  26.95
                    store_002 SPRT_001                1     23.2  13.05
                              SPRT_002                1     39.2  26.95
                    store_003 SPRT_002                1     39.2  26.95
                    store_004 SPRT_001                1     23.2  13.05
                              SPRT_002                1     39.2  26.95
                    store_006 SPRT_001                1     23.2  13.05
                    store_008 SPRT_001                1     23.2  13.05
                    store_009 SPRT_001                1     23.2  13.05
                              SPRT_002                1     39.2  26.95
                    store_010 SPRT_001                1     23.2  13.05

                                          profit  discount_percent  unit_price
date       category store_id  product_id
2023-01-02 Clothing store_001 CLTH_002     19.75               0.2        79.0
                              CLTH_005     26.18               0.2       119.0
                    store_002 CLTH_002     19.75               0.2        79.0
           Home     store_001 HOME_005      7.80               0.2        39.0
                    store_002 HOME_005      7.80               0.2        39.0
                    store_009 HOME_005      7.80               0.2        39.0
                    store_010 HOME_005      7.80               0.2        39.0
           Sports   store_001 SPRT_001     20.30               0.2        29.0
                              SPRT_002     12.25               0.2        49.0
                    store_002 SPRT_001     10.15               0.2        29.0
                              SPRT_002     12.25               0.2        49.0
                    store_003 SPRT_002     12.25               0.2        49.0
                    store_004 SPRT_001     10.15               0.2        29.0
                              SPRT_002     12.25               0.2        49.0
                    store_006 SPRT_001     10.15               0.2        29.0
                    store_008 SPRT_001     10.15               0.2        29.0
                    store_009 SPRT_001     10.15               0.2        29.0
                              SPRT_002     12.25               0.2        49.0
                    store_010 SPRT_001     10.15               0.2        29.0

In [5]:
df.head(25)

,date,store_id,product_id,category,quantity_sold,unit_price,discount_percent,revenue,cost,profit
0,2023-01-02,store_001,CLTH_002,Clothing,1,79,0.2,63.2,43.45,19.75
1,2023-01-02,store_001,CLTH_005,Clothing,1,119,0.2,95.2,69.02,26.18
2,2023-01-02,store_001,HOME_005,Home,1,39,0.2,31.2,23.40,7.80
3,2023-01-02,store_001,SPRT_001,Sports,2,29,0.2,46.4,26.10,20.30
4,2023-01-02,store_001,SPRT_002,Sports,1,49,0.2,39.2,26.95,12.25
5,2023-01-02,store_002,CLTH_002,Clothing,1,79,0.2,63.2,43.45,19.75
6,2023-01-02,store_002,HOME_005,Home,1,39,0.2,31.2,23.40,7.80
7,2023-01-02,store_002,SPRT_001,Sports,1,29,0.2,23.2,13.05,10.15
8,2023-01-02,store_002,SPRT_002,Sports,1,49,0.2,39.2,26.95,12.25
9,2023-01-02,store_003,SPRT_002,Sports,1,49,0.2,39.2,26.95,12.25
10,2023-01-02,store_004,SPRT_001,Sports,1,29,0.2,23.2,13.05,10.15
11,2023-01-02,store_004,SPRT_002,Sports,1,49,0.2,39.2,26.95,12.25
12,2023-01-02,store_006,SPRT_001,Sports,1,29,0.2,23.2,13.05,10.15
13,2023-01-02,store_008,SPRT_001,Sports,1,29,0.2,23.2,13.05,10.15
14,2023-01-02,store_009,HOME_005,Home,1,39,0.2,31.2,23.40,7.80
15,2023-01-02,store_009,SPRT_001,Sports,1,29,0.2,23.2,13.05,10.15
16,2023-01-02,store_009,SPRT_002,Sports,1,49,0.2,39.2,26.95,12.25
17,2023-01-02,store_010,HOME_005,Home,1,39,0.2,31.2,23.40,7.80
18,2023-01-02,store_010,SPRT_001,Sports,1,29,0.2,23.2,13.05,10.15

In [6]:
from include.utils.data_generator import RealisticSalesDataGenerator

In [7]:
generator = RealisticSalesDataGenerator(start_date="2023-01-01", end_date="2023-03-31")

In [8]:
data_output_dir = r"C:\Users\aswinp\Documents\mvd_251024_2"

In [9]:
file_paths = generator.generate_sales_data(output_dir=data_output_dir)

In [10]:
sales_files = file_paths.get('sales', [])

In [11]:
sales_files

['C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=02/sales_2023-01-02.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=03/sales_2023-01-03.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=04/sales_2023-01-04.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=05/sales_2023-01-05.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=06/sales_2023-01-06.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=07/sales_2023-01-07.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=08/sales_2023-01-08.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=11/sales_2023-01-11.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=12/sales_2023-01-12.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=13/sales_2023-01-13.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=14/sales_2023-01-14.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=15/sales_2023-01-15.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=16/sales_2023-01-16.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=18/sales_2023-01-18.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=19/sales_2023-01-19.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=20/sales_2023-01-20.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=21/sales_2023-01-21.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=22/sales_2023-01-22.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=23/sales_2023-01-23.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=24/sales_2023-01-24.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=25/sales_2023-01-25.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=26/sales_2023-01-26.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=27/sales_2023-01-27.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=28/sales_2023-01-28.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=29/sales_2023-01-29.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=30/sales_2023-01-30.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=01/day=31/sales_2023-01-31.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=02/day=03/sales_2023-02-03.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=02/day=04/sales_2023-02-04.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=02/day=05/sales_2023-02-05.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=02/day=11/sales_2023-02-11.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=02/day=12/sales_2023-02-12.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=02/day=16/sales_2023-02-16.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=02/day=17/sales_2023-02-17.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=02/day=18/sales_2023-02-18.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=02/day=19/sales_2023-02-19.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=02/day=20/sales_2023-02-20.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=02/day=24/sales_2023-02-24.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=02/day=25/sales_2023-02-25.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=02/day=26/sales_2023-02-26.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=03/day=04/sales_2023-03-04.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=03/day=05/sales_2023-03-05.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=03/day=10/sales_2023-03-10.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=03/day=11/sales_2023-03-11.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=03/day=12/sales_2023-03-12.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=03/day=15/sales_2023-03-15.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=03/day=17/sales_2023-03-17.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=03/day=18/sales_2023-03-18.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=03/day=24/sales_2023-03-24.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=03/day=25/sales_2023-03-25.parquet',
 'C:\\Users\\aswinp\\Documents\\mvd_251024_2\\sales/year=2023/month=03/day=26/sales_2023-03-26.parquet']

In [12]:
sales_df = []
max_files_to_use = 50
sales_files = file_paths.get('sales', [])[:max_files_to_use]
for sales_file in sales_files:
    df = pd.read_parquet(sales_file)
    sales_df.append(df)

In [13]:
sales_data = pd.concat(sales_df, ignore_index=True)

In [14]:
groupby_cols = ['date', 'category', 'store_id', 'product_id']
daily_sales=sales_data.groupby(groupby_cols).agg({
    'quantity_sold':'sum', 
    'revenue':'sum','cost':'sum',
    'profit':'sum',
    'discount_percent':'mean',
    'unit_price':'mean'
}).reset_index()

In [15]:
daily_sales.head(50)

,date,category,store_id,product_id,quantity_sold,revenue,cost,profit,discount_percent,unit_price
0,2023-01-02,Clothing,store_001,CLTH_002,1,63.2,43.45,19.75,0.2,79.0
1,2023-01-02,Clothing,store_001,CLTH_003,1,119.2,89.40,29.80,0.2,149.0
2,2023-01-02,Clothing,store_009,CLTH_002,1,63.2,43.45,19.75,0.2,79.0
3,2023-01-02,Electronics,store_001,ELEC_003,1,159.2,149.25,9.95,0.2,199.0
4,2023-01-02,Home,store_002,HOME_005,1,39.0,23.40,15.60,0.0,39.0
5,2023-01-02,Home,store_009,HOME_004,1,119.2,101.32,17.88,0.2,149.0
6,2023-01-02,Sports,store_001,SPRT_001,2,46.4,26.10,20.30,0.2,29.0
7,2023-01-02,Sports,store_001,SPRT_002,1,39.2,26.95,12.25,0.2,49.0
8,2023-01-02,Sports,store_002,SPRT_001,2,46.4,26.10,20.30,0.2,29.0
9,2023-01-02,Sports,store_002,SPRT_002,2,78.4,53.90,24.50,0.2,49.0
10,2023-01-02,Sports,store_003,SPRT_001,1,23.2,13.05,10.15,0.2,29.0
11,2023-01-02,Sports,store_003,SPRT_002,1,39.2,26.95,12.25,0.2,49.0
12,2023-01-02,Sports,store_004,SPRT_001,1,23.2,13.05,10.15,0.2,29.0
13,2023-01-02,Sports,store_004,SPRT_002,1,39.2,26.95,12.25,0.2,49.0
14,2023-01-02,Sports,store_006,SPRT_001,1,23.2,13.05,10.15,0.2,29.0
15,2023-01-02,Sports,store_009,SPRT_001,2,46.4,26.10,20.30,0.2,29.0
16,2023-01-02,Sports,store_009,SPRT_002,2,78.4,53.90,24.50,0.2,49.0
17,2023-01-02,Sports,store_010,SPRT_001,1,23.2,13.05,10.15,0.2,29.0
18,2023-01-03,Home,store_001,HOME_005,1,31.2,23.40,7.80,0.2,39.0
19,2023-01-03,Home,store_002,HOME_005,1,31.2,23.40,7.80,0.2,39.0
20,2023-01-03,Sports,store_001,SPRT_001,1,23.2,13.05,10.15,0.2,29.0
21,2023-01-03,Sports,store_001,SPRT_002,1,39.2,26.95,12.25,0.2,49.0
22,2023-01-03,Sports,store_002,SPRT_001,1,23.2,13.05,10.15,0.2,29.0
23,2023-01-03,Sports,store_002,SPRT_002,1,39.2,26.95,12.25,0.2,49.0
24,2023-01-03,Sports,store_009,SPRT_002,1,39.2,26.95,12.25,0.2,49.0
25,2023-01-04,Home,store_002,HOME_005,1,31.2,23.40,7.80,0.2,39.0
26,2023-01-04,Sports,store_001,SPRT_001,1,23.2,13.05,10.15,0.2,29.0
27,2023-01-04,Sports,store_002,SPRT_001,1,23.2,13.05,10.15,0.2,29.0
28,2023-01-04,Sports,store_002,SPRT_002,1,39.2,26.95,12.25,0.2,49.0
29,2023-01-04,Sports,store_009,SPRT_001,1,23.2,13.05,10.15,0.2,29.0
30,2023-01-04,Sports,store_009,SPRT_002,1,39.2,26.95,12.25,0.2,49.0
31,2023-01-04,Sports,store_010,SPRT_001,1,23.2,13.05,10.15,0.2,29.0
32,2023-01-05,Sports,store_001,SPRT_001,1,29.0,13.05,15.95,0.0,29.0
33,2023-01-05,Sports,store_001,SPRT_002,1,49.0,26.95,22.05,0.0,49.0
34,2023-01-05,Sports,store_002,SPRT_001,1,29.0,13.05,15.95,0.0,29.0
35,2023-01-06,Clothing,store_001,CLTH_002,1,63.2,43.45,19.75,0.2,79.0
36,2023-01-06,Clothing,store_002,CLTH_002,1,63.2,43.45,19.75,0.2,79.0
37,2023-01-06,Clothing,store_002,CLTH_003,1,119.2,89.40,29.80,0.2,149.0
38,2023-01-06,Home,store_001,HOME_005,1,31.2,23.40,7.80,0.2,39.0
39,2023-01-06,Home,store_002,HOME_001,1,63.2,55.30,7.90,0.2,79.0
40,2023-01-06,Home,store_002,HOME_005,1,31.2,23.40,7.80,0.2,39.0
41,2023-01-06,Home,store_009,HOME_005,1,31.2,23.40,7.80,0.2,39.0
42,2023-01-06,Sports,store_001,SPRT_001,1,23.2,13.05,10.15,0.2,29.0
43,2023-01-06,Sports,store_001,SPRT_002,1,49.0,26.95,22.05,0.0,49.0
44,2023-01-06,Sports,store_002,SPRT_001,2,46.4,26.10,20.30,0.2,29.0
45,2023-01-06,Sports,store_002,SPRT_002,1,49.0,26.95,22.05,0.0,49.0
46,2023-01-06,Sports,store_009,SPRT_001,2,46.4,26.10,20.30,0.2,29.0
47,2023-01-07,Clothing,store_001,CLTH_005,1,95.2,69.02,26.18,0.2,119.0
48,2023-01-07,Home,store_001,HOME_005,1,39.0,23.40,15.60,0.0,39.0
49,2023-01-07,Home,store_002,HOME_005,1,39.0,23.40,15.60,0.0,39.0

In [16]:
df_promotions = pd.read_parquet(r"C:\Users\aswinp\Documents\mvd_251024_2\promotions\promotions.parquet")

In [17]:
df_promotions['promotion_type'].value_counts().to_frame()

                count
promotion_type
New Year Sale      80
Presidents Day     35
Flash Sale         21

In [18]:
df_promotions.head(10)

        date product_id promotion_type  discount_percent
0 2023-01-01   SPRT_001  New Year Sale               0.2
1 2023-01-01   HOME_003  New Year Sale               0.2
2 2023-01-01   ELEC_001  New Year Sale               0.2
3 2023-01-01   ELEC_004  New Year Sale               0.2
4 2023-01-01   CLTH_003  New Year Sale               0.2
5 2023-01-01   CLTH_002  New Year Sale               0.2
6 2023-01-01   CLTH_001  New Year Sale               0.2
7 2023-01-01   SPRT_004  New Year Sale               0.2
8 2023-01-01   SPRT_005  New Year Sale               0.2
9 2023-01-01   HOME_005  New Year Sale               0.2

In [19]:
promo_files = file_paths.get('promotions', [])[:max_files_to_use]

In [20]:
promo_files

['C:\\Users\\aswinp\\Documents\\mvd_251024_2\\promotions/promotions.parquet']

In [21]:
promotions_df = pd.concat([pd.read_parquet(f) for f in file_paths['promotions']], ignore_index=True)

In [22]:
promotions_df

                   date product_id promotion_type  discount_percent
0   2023-01-01 00:00:00   SPRT_001  New Year Sale          0.200000
1   2023-01-01 00:00:00   HOME_003  New Year Sale          0.200000
2   2023-01-01 00:00:00   ELEC_001  New Year Sale          0.200000
3   2023-01-01 00:00:00   ELEC_004  New Year Sale          0.200000
4   2023-01-01 00:00:00   CLTH_003  New Year Sale          0.200000
..                  ...        ...            ...               ...
131 2023-03-01 08:00:00   SPRT_004     Flash Sale          0.266212
132 2023-03-31 00:00:00   CLTH_003     Flash Sale          0.165165
133 2023-03-31 00:00:00   HOME_005     Flash Sale          0.192487
134 2023-03-31 00:00:00   ELEC_005     Flash Sale          0.189049
135 2023-03-31 00:00:00   ELEC_002     Flash Sale          0.292366

[136 rows x 4 columns]

In [23]:
promotion_summary = promotions_df.groupby(['date', 'product_id']).agg({
                'discount_percent':'max'
            }).reset_index()

In [24]:
promotion_summary

                   date product_id  discount_percent
0   2023-01-01 00:00:00   CLTH_001          0.200000
1   2023-01-01 00:00:00   CLTH_002          0.200000
2   2023-01-01 00:00:00   CLTH_003          0.200000
3   2023-01-01 00:00:00   CLTH_005          0.200000
4   2023-01-01 00:00:00   ELEC_001          0.200000
..                  ...        ...               ...
126 2023-03-01 08:00:00   SPRT_004          0.266212
127 2023-03-31 00:00:00   CLTH_003          0.165165
128 2023-03-31 00:00:00   ELEC_002          0.292366
129 2023-03-31 00:00:00   ELEC_005          0.189049
130 2023-03-31 00:00:00   HOME_005          0.192487

[131 rows x 3 columns]

In [25]:
promotion_summary['has_promotion'] = 1

In [26]:
promotion_summary.head(25)

         date product_id  discount_percent  has_promotion
0  2023-01-01   CLTH_001          0.200000              1
1  2023-01-01   CLTH_002          0.200000              1
2  2023-01-01   CLTH_003          0.200000              1
3  2023-01-01   CLTH_005          0.200000              1
4  2023-01-01   ELEC_001          0.200000              1
5  2023-01-01   ELEC_002          0.229457              1
6  2023-01-01   ELEC_004          0.281374              1
7  2023-01-01   HOME_003          0.200000              1
8  2023-01-01   HOME_004          0.200000              1
9  2023-01-01   HOME_005          0.200000              1
10 2023-01-01   SPRT_001          0.200000              1
11 2023-01-01   SPRT_004          0.200000              1
12 2023-01-01   SPRT_005          0.253191              1
13 2023-01-02   CLTH_002          0.200000              1
14 2023-01-02   CLTH_003          0.200000              1
15 2023-01-02   CLTH_004          0.200000              1
16 2023-01-02   ELEC_002          0.200000              1
17 2023-01-02   ELEC_003          0.200000              1
18 2023-01-02   HOME_003          0.200000              1
19 2023-01-02   HOME_004          0.200000              1
20 2023-01-02   SPRT_001          0.200000              1
21 2023-01-02   SPRT_002          0.200000              1
22 2023-01-02   SPRT_004          0.200000              1
23 2023-01-02   SPRT_005          0.200000              1
24 2023-01-03   CLTH_001          0.200000              1

In [27]:
daily_sales = daily_sales.merge(
    promotion_summary[['date', 'product_id', 'has_promotion']],
    how='left',
    on=['date', 'product_id']
)
daily_sales['has_promotion'] = daily_sales['has_promotion'].fillna(0).astype(int)

In [28]:
daily_sales.head(25)

,date,category,store_id,product_id,quantity_sold,revenue,cost,profit,discount_percent,unit_price,has_promotion
0,2023-01-02,Clothing,store_001,CLTH_002,1,63.2,43.45,19.75,0.2,79.0,1
1,2023-01-02,Clothing,store_001,CLTH_003,1,119.2,89.40,29.80,0.2,149.0,1
2,2023-01-02,Clothing,store_009,CLTH_002,1,63.2,43.45,19.75,0.2,79.0,1
3,2023-01-02,Electronics,store_001,ELEC_003,1,159.2,149.25,9.95,0.2,199.0,1
4,2023-01-02,Home,store_002,HOME_005,1,39.0,23.40,15.60,0.0,39.0,0
5,2023-01-02,Home,store_009,HOME_004,1,119.2,101.32,17.88,0.2,149.0,1
6,2023-01-02,Sports,store_001,SPRT_001,2,46.4,26.10,20.30,0.2,29.0,1
7,2023-01-02,Sports,store_001,SPRT_002,1,39.2,26.95,12.25,0.2,49.0,1
8,2023-01-02,Sports,store_002,SPRT_001,2,46.4,26.10,20.30,0.2,29.0,1
9,2023-01-02,Sports,store_002,SPRT_002,2,78.4,53.90,24.50,0.2,49.0,1
10,2023-01-02,Sports,store_003,SPRT_001,1,23.2,13.05,10.15,0.2,29.0,1
11,2023-01-02,Sports,store_003,SPRT_002,1,39.2,26.95,12.25,0.2,49.0,1
12,2023-01-02,Sports,store_004,SPRT_001,1,23.2,13.05,10.15,0.2,29.0,1
13,2023-01-02,Sports,store_004,SPRT_002,1,39.2,26.95,12.25,0.2,49.0,1
14,2023-01-02,Sports,store_006,SPRT_001,1,23.2,13.05,10.15,0.2,29.0,1
15,2023-01-02,Sports,store_009,SPRT_001,2,46.4,26.10,20.30,0.2,29.0,1
16,2023-01-02,Sports,store_009,SPRT_002,2,78.4,53.90,24.50,0.2,49.0,1
17,2023-01-02,Sports,store_010,SPRT_001,1,23.2,13.05,10.15,0.2,29.0,1
18,2023-01-03,Home,store_001,HOME_005,1,31.2,23.40,7.80,0.2,39.0,1
19,2023-01-03,Home,store_002,HOME_005,1,31.2,23.40,7.80,0.2,39.0,1
20,2023-01-03,Sports,store_001,SPRT_001,1,23.2,13.05,10.15,0.2,29.0,1
21,2023-01-03,Sports,store_001,SPRT_002,1,39.2,26.95,12.25,0.2,49.0,1
22,2023-01-03,Sports,store_002,SPRT_001,1,23.2,13.05,10.15,0.2,29.0,1
23,2023-01-03,Sports,store_002,SPRT_002,1,39.2,26.95,12.25,0.2,49.0,1
24,2023-01-03,Sports,store_009,SPRT_002,1,39.2,26.95,12.25,0.2,49.0,1

In [29]:
traffic_df = pd.concat([pd.read_parquet(f) for f in file_paths['customer_traffic']])

In [30]:
traffic_df.shape

(900, 5)

In [31]:
traffic_df = pd.concat([pd.read_parquet(f) for f in file_paths['customer_traffic'][:10]], ignore_index=True)

In [32]:
traffic_df.shape

(100, 5)

In [33]:
traffic_df.head(10)

        date   store_id  customer_traffic  weather_impact  is_holiday
0 2023-01-01  store_001                 0        0.867016        True
1 2023-01-01  store_002                 0        0.952138        True
2 2023-01-01  store_003                 0        0.955407        True
3 2023-01-01  store_004                 0        1.200000        True
4 2023-01-01  store_005                 0        1.037773        True
5 2023-01-01  store_006                 0        0.929549        True
6 2023-01-01  store_007                 0        0.793491        True
7 2023-01-01  store_008                 0        1.195032        True
8 2023-01-01  store_009                 0        1.023648        True
9 2023-01-01  store_010                 0        1.145715        True

In [34]:
traffic_df['customer_traffic'].value_counts()

customer_traffic
0       10
742      2
622      2
1194     1
1090     1
        ..
333      1
431      1
278      1
521      1
461      1
Name: count, Length: 89, dtype: int64

In [38]:
 traffic_df.rename(columns={
    'customer_traffic':'customer_count'
}, inplace=True)
traffic_summary = traffic_df.groupby(['date', 'store_id']).agg({
    'customer_count':'sum', 'is_holiday':'max'
}).reset_index()

IndentationError: unexpected indent (2005345723.py, line 1)

In [39]:
traffic_df.rename(columns={'customer_traffic':'customer_count'}, inplace=True)

In [40]:
traffic_summary = traffic_df.groupby(['date', 'store_id']).agg({
    'customer_count':'sum', 'is_holiday':'max'
}).reset_index()

In [41]:
traffic_summary.head(10)

        date   store_id  customer_count  is_holiday
0 2023-01-01  store_001               0        True
1 2023-01-01  store_002               0        True
2 2023-01-01  store_003               0        True
3 2023-01-01  store_004               0        True
4 2023-01-01  store_005               0        True
5 2023-01-01  store_006               0        True
6 2023-01-01  store_007               0        True
7 2023-01-01  store_008               0        True
8 2023-01-01  store_009               0        True
9 2023-01-01  store_010               0        True

In [42]:
daily_sales = daily_sales.merge(
                traffic_summary,
                how='left',
                on=['date', 'store_id']
            )

In [43]:
daily_sales.head(20)

,date,category,store_id,product_id,quantity_sold,revenue,cost,profit,discount_percent,unit_price,has_promotion,customer_count,is_holiday
0,2023-01-02,Clothing,store_001,CLTH_002,1,63.2,43.45,19.75,0.2,79.0,1,1194.0,True
1,2023-01-02,Clothing,store_001,CLTH_003,1,119.2,89.40,29.80,0.2,149.0,1,1194.0,True
2,2023-01-02,Clothing,store_009,CLTH_002,1,63.2,43.45,19.75,0.2,79.0,1,1052.0,True
3,2023-01-02,Electronics,store_001,ELEC_003,1,159.2,149.25,9.95,0.2,199.0,1,1194.0,True
4,2023-01-02,Home,store_002,HOME_005,1,39.0,23.40,15.60,0.0,39.0,0,1090.0,True
5,2023-01-02,Home,store_009,HOME_004,1,119.2,101.32,17.88,0.2,149.0,1,1052.0,True
6,2023-01-02,Sports,store_001,SPRT_001,2,46.4,26.10,20.30,0.2,29.0,1,1194.0,True
7,2023-01-02,Sports,store_001,SPRT_002,1,39.2,26.95,12.25,0.2,49.0,1,1194.0,True
8,2023-01-02,Sports,store_002,SPRT_001,2,46.4,26.10,20.30,0.2,29.0,1,1090.0,True
9,2023-01-02,Sports,store_002,SPRT_002,2,78.4,53.90,24.50,0.2,49.0,1,1090.0,True
10,2023-01-02,Sports,store_003,SPRT_001,1,23.2,13.05,10.15,0.2,29.0,1,937.0,True
11,2023-01-02,Sports,store_003,SPRT_002,1,39.2,26.95,12.25,0.2,49.0,1,937.0,True
12,2023-01-02,Sports,store_004,SPRT_001,1,23.2,13.05,10.15,0.2,29.0,1,858.0,True
13,2023-01-02,Sports,store_004,SPRT_002,1,39.2,26.95,12.25,0.2,49.0,1,858.0,True
14,2023-01-02,Sports,store_006,SPRT_001,1,23.2,13.05,10.15,0.2,29.0,1,730.0,True
15,2023-01-02,Sports,store_009,SPRT_001,2,46.4,26.10,20.30,0.2,29.0,1,1052.0,True
16,2023-01-02,Sports,store_009,SPRT_002,2,78.4,53.90,24.50,0.2,49.0,1,1052.0,True
17,2023-01-02,Sports,store_010,SPRT_001,1,23.2,13.05,10.15,0.2,29.0,1,800.0,True
18,2023-01-03,Home,store_001,HOME_005,1,31.2,23.40,7.80,0.2,39.0,1,709.0,False
19,2023-01-03,Home,store_002,HOME_005,1,31.2,23.40,7.80,0.2,39.0,1,824.0,False

In [44]:
traffic_df.groupby(['date']).agg({'customer_count':'sum'})

            customer_count
date
2023-01-01               0
2023-01-02            8194
2023-01-03            5851
2023-01-04            5722
2023-01-05            6106
2023-01-06            7268
2023-01-07            8996
2023-01-08            8260
2023-01-09            5739
2023-01-10            5514

In [46]:
daily_sales.groupby(['date']).agg({'customer_count':'sum'})

            customer_count
date
2023-01-02         18568.0
2023-01-03          5421.0
2023-01-04          5390.0
2023-01-05          2593.0
2023-01-06         12672.0
2023-01-07         15626.0
2023-01-08          6136.0
2023-01-11             0.0
2023-01-12             0.0
2023-01-13             0.0
2023-01-14             0.0
2023-01-15             0.0
2023-01-16             0.0
2023-01-18             0.0
2023-01-19             0.0
2023-01-20             0.0
2023-01-21             0.0
2023-01-22             0.0
2023-01-23             0.0
2023-01-24             0.0
2023-01-25             0.0
2023-01-26             0.0
2023-01-27             0.0
2023-01-28             0.0
2023-01-29             0.0
2023-01-30             0.0
2023-01-31             0.0
2023-02-03             0.0
2023-02-04             0.0
2023-02-05             0.0
2023-02-11             0.0
2023-02-12             0.0
2023-02-16             0.0
2023-02-17             0.0
2023-02-18             0.0
2023-02-19             0.0
2023-02-20             0.0
2023-02-24             0.0
2023-02-25             0.0
2023-02-26             0.0
2023-03-04             0.0
2023-03-05             0.0
2023-03-10             0.0
2023-03-11             0.0
2023-03-12             0.0
2023-03-15             0.0
2023-03-17             0.0
2023-03-18             0.0
2023-03-24             0.0
2023-03-25             0.0

In [47]:
daily_sales.columns

Index(['date', 'category', 'store_id', 'product_id', 'quantity_sold',
       'revenue', 'cost', 'profit', 'discount_percent', 'unit_price',
       'has_promotion', 'customer_count', 'is_holiday'],
      dtype='object')